language: python
python: "2.7.13"

# Needed to enable Travis CI for gh-pages branches, see:
#   https://github.com/travis-ci/travis-core/pull/137
branches:
  only:
    - gh-pages

script:
  - "./pants --version"
  - "./pants list ::"
  - "PANTS_ENABLE_PANTSD=True ./pants --version"
  - "PANTS_ENABLE_PANTSD=True ./pants list ::"

matrix:
  include:
    - name: "OSX 10.11 - El Capitan"
      os: osx
      osx_image: xcode8.0
      language: generic

    - name: "OSX 10.12 - Sierra"
      os: osx
      osx_image: xcode9.2
      language: generic

    - name: "OSX 10.13 - High Sierra"
      os: osx
      osx_image: xcode9.4
      language: generic

    - name: "Ubuntu 12.04 - Precise"
      os: linux
      dist: precise
      sudo: required

    - name: "Ubuntu 14.04 - Trusty"
      os: linux
      dist: trusty
      sudo: false

    - name: "Ubuntu 16.04 - Xenial"
      os: linux
      dist: xenial
      sudo: required

