language: python
python: "2.7.13"

# Needed to enable Travis CI for gh-pages branches, see:
#   https://github.com/travis-ci/travis-core/pull/137
branches:
  only:
    - gh-pages

script: "./pants --version && ./pants list ::"

matrix:
  include:
    - os: osx
      osx_image: xcode6.4
      language: generic
      env:
        - OS=10.10
    
    - os: osx
      osx_image: xcode7.3
      language: generic
      env:
        - OS=10.11

    - os: osx
      osx_image: xcode8.3.3
      language: generic
      env:
        - OS=10.12

    - os: osx
      osx_image: xcode9.1
      language: generic
      env:
        - OS=10.12
 
    - os: linux
      dist: precise
      sudo: required
      env:
        - OS=ubuntu/precise

    - os: linux
      dist: trusty
      sudo: false
      env:
        - OS=ubuntu/trusty


