# Needed to enable Travis CI for gh-pages branches, see:
#   https://github.com/travis-ci/travis-core/pull/137
branches:
  only:
    - gh-pages

env:
  global:
    - PYENV_PY36_VERSION=3.6.8
    - PYENV_PY37_VERSION=3.7.2

script:
  - python2.7 --version
  - python3.6 --version
  - if which python3.7 >/dev/null; then python3.7 --version; fi
  # - ./ci.py --pants-version unspecified
  # - ./ci.py --pants-version config

osx_setup: &osx_setup
  os: osx
  language: generic
  addons:
    brew:
      packages:
        - openssl
  env:
    - &env_pyenv >
      PYENV_ROOT="${HOME}/.pyenv"
      PYENV_BIN="${PYENV_ROOT}/bin/pyenv"
      PATH="${PYENV_ROOT}/shims:${PATH}"
    - >
      # These flags are necessary to get OpenSSL working. See
      # https://github.com/pyenv/pyenv/wiki/Common-build-problems#error-the-python-ssl-extension-was-not-compiled-missing-the-openssl-lib.
      PATH="/usr/local/opt/openssl/bin:$PATH"
      LDFLAGS="-L/usr/local/opt/openssl/lib"
      CPPFLAGS="-I/usr/local/opt/openssl/include"
  before_install:
    - &pyenv_install_py36 >
      if [ ! -d "${PYENV_ROOT}" ]; then git clone https://github.com/pyenv/pyenv ${PYENV_ROOT}; fi
      && "${PYENV_BIN}" install "${PYENV_PY36_VERSION}"
    - &pyenv_install_py37 >
      if [ ! -d "${PYENV_ROOT}" ]; then git clone https://github.com/pyenv/pyenv ${PYENV_ROOT}; fi
      && "${PYENV_BIN}" install" ${PYENV_PY37_VERSION}"
    - ${PYENV_BIN} global "${PYENV_PY36_VERSION}" "${PYENV_PY37_VERSION}"
  before_script:
    # Override file handler and thread limits
    - ulimit -c unlimited
    - ulimit -n 8192

linux_setup: &linux_setup
  os: linux
  sudo: false
  language: python
  python:
    - "2.7"
    - "3.6"
    - "3.7"

matrix:
  include:
    - name: "OSX 10.11 - El Capitan"
      <<: *osx_setup
      osx_image: xcode8.0

    - name: "OSX 10.12 - Sierra"
      <<: *osx_setup
      osx_image: xcode9.2

    - name: "OSX 10.13 - High Sierra"
      <<: *osx_setup
      osx_image: xcode9.4

    - name: "Ubuntu 12.04 - Precise"
      <<: *linux_setup
      dist: precise
      sudo: required
      env:
        - *env_pyenv
      before_install:
        - *pyenv_install_py36
        - ${PYENV_BIN} global "${PYENV_PY36_VERSION}"

    - name: "Ubuntu 14.04 - Trusty"
      <<: *linux_setup
      dist: trusty
      sudo: required
      addons:
        apt:
          packages:
            - openssl
            - libssl-dev
      env:
        - *env_pyenv
      before_install:
        - *pyenv_install_py36
        - *pyenv_install_py37
        - pyenv global "${PYENV_PY36_VERSION}" "${PYENV_PY37_VERSION}"

    - name: "Ubuntu 16.04 - Xenial"
      <<: *linux_setup
      dist: xenial
      before_install:
      - pyenv global 2.7.15 3.6.7 3.7.1
