# Needed to enable Travis CI for gh-pages branches, see:
#   https://github.com/travis-ci/travis-core/pull/137
branches:
  only:
    - gh-pages

script:
  - ./ci.py --pants-version unspecified --python-version unspecified
  - ./ci.py --pants-version unspecified --python-version 2.7
  - ./ci.py --pants-version unspecified --python-version 3.6
  - ./ci.py --pants-version config --python-version unspecified
  - ./ci.py --pants-version config --python-version 2.7
  - ./ci.py --pants-version config --python-version 3.6

osx_setup: &osx_setup
  os: osx
  language: generic
  addons:
    brew:
      packages:
        - openssl
  env:
    - >
      PYENV_ROOT="${HOME}/.pyenv"
      PATH="${PYENV_ROOT}/shims:${PATH}"
      # These flags are necessary to get OpenSSL working. See
      # https://github.com/pyenv/pyenv/wiki/Common-build-problems#error-the-python-ssl-extension-was-not-compiled-missing-the-openssl-lib.
      PATH="/usr/local/opt/openssl/bin:$PATH"
      LDFLAGS="-L/usr/local/opt/openssl/lib"
      CPPFLAGS="-I/usr/local/opt/openssl/include"
  before_install:
    - >
      git clone https://github.com/pyenv/pyenv ${PYENV_ROOT}
      && ${PYENV_ROOT}/bin/pyenv install 3.6.8
      && ${PYENV_ROOT}/bin/pyenv global 3.6.8

linux_setup: &linux_setup
  os: linux
  sudo: false
  language: python
  python:
    - "2.7"
    - "3.6"

matrix:
  include:
    - name: "OSX 10.11 - El Capitan"
      <<: *osx_setup
      osx_image: xcode8.0

    - name: "OSX 10.12 - Sierra"
      <<: *osx_setup
      osx_image: xcode9.2

    - name: "OSX 10.13 - High Sierra"
      <<: *osx_setup
      osx_image: xcode9.4

    - name: "Ubuntu 12.04 - Precise"
      <<: *linux_setup
      dist: precise
      sudo: required

    - name: "Ubuntu 14.04 - Trusty"
      <<: *linux_setup
      dist: trusty
      before_install:
        # NB: Trusty image comes with system Python 3.4, but we require 3.6+.
        # Use pyenv global to ensure we use 2.7 and 3.6, not 3.4.
        - pyenv global 2.7.14 3.6.3

    - name: "Ubuntu 16.04 - Xenial"
      <<: *linux_setup
      dist: xenial
